/*обнуление*/
*{
	padding: 0;
	margin: 0;
	transition: all .1s ease-in;
}
*,*:before,*:after{ 
	-moz-box-sizing: border-box;
	-webkit-box-sizing:border-box;
	box-sizing: border-box;
}

html,
body{
	font-family: Arial, sans-serif;
	width: 100%;
	height: 100%;
	background-color: #F1F1F1;

	}
.wrapper {
	width: 75%;
	margin: auto;
}

header {
	margin: 50px auto;
  	width: 100%;
  	
	
}
ul {
	list-style: none;
	display: inline-block;
	width: 30%;
	font-weight: bold;
	margin-right: 30px;
	color: #c2c2c2;
	
}

li {
	font-size: 14px;
	text-transform: capitalize;
	text-align: left;
	width: 100%;
	border: 2px solid #F1F1F1;
	background-color: rgba(118,117,128,0.05);
	border-radius: 10px;
}


h2 {
	text-transform: uppercase;
	font-size: 16px;
	border-color: #F1F1F1;
	background-color: #F1F1F1;
	padding-bottom: 20px;
}


.round {
	border-radius: 100px;
}

input#search{
  width: 100%;
  border: none;
  font-size: 100px;
  font-weight: bold;
  color: #ec5a62;
  background-color: inherit;
  opacity: 0.4;
  
}

button {
  position: absolute;
  right: 15%;
  margin-top: 10px;
  border: none;
  background: inherit;
  
}

span {
	vertical-align: middle;
}

.small-letter {
	text-transform: none;
}

li a {
	text-decoration: none;
	color: #c2c2c2;
	display: inline-block;
	width: 100%;
}

li a:focus {
	color: #ec5a62;
}

li:hover {
	background-color: rgba(118,117,128,0.1);
}

/*li a:visited {
	color: #ec5a62;
}*/