@font-face {
    font-family: 'Nexa';
    font-display: swap;
    src: url('../fonts/nexa-bold.woff2') format('woff2'),
         url('../fonts/nexa-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa';
    font-display: swap;
    src: url('../fonts/nexa-regular.woff2') format('woff2'),
         url('../fonts/nexa-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima';
    font-display: swap;
    src: url('../fonts/proxima_nova_regular.woff2') format('woff2'),
         url('../fonts/proxima_nova_regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Proxima';
    font-display: swap;
    src: url('../fonts/proxima_nova_bold_italic.woff2') format('woff2'),
         url('../fonts/proxima_nova_bold_italic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

/*обнуление*/
*{
	padding: 0;
	margin: 0;
	transition: all .1s ease-in;

}
*,*:before,*:after{ 
	-moz-box-sizing: border-box;
	-webkit-box-sizing:border-box;
	box-sizing: border-box;
}


html,
body{
	font-family: 'Nexa', Helvetica, Arial, sans-serif;
	font-weight: 700;
	width: 100%;
	height: 100%;
	background-color: #F1F1F1;
	color: #c2c2c2;
	font-size: 14px;
}

.container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

header {
	padding-top: 50px;
	padding-bottom: 70px;
}

form {
	position: relative;
	padding-right: 100px;	
}

input#search{
	width: 100%;
	border: none;
	font-family: 'Proxima', Helvetica, Arial, sans-serif;
	font-style: italic;
	font-size: 100px;
	font-weight: 700;
	color: #ec5a62;
	background-color: inherit;
	outline: none;
}

input::placeholder {
	color: #c2c2c2;
}

button {
	position: absolute;
	margin-top: 10px;
	border: none;
	background: inherit;
}

button:hover {
	transform: scale(1.2);
}

.wrapper-list {
	font-size: 0;
}

ul {
	list-style: none;
	padding-left: 0;
	padding-right: 40px;
	width: calc(100% / 3);
	display: inline-block;
	vertical-align: top;
	font-size: 0;
	padding-bottom: 50px;

}

ul:last-child {
	padding-right: 0;
}

.caption {
	background-color: inherit;
	text-transform: lowercase;
}

h2 {
	font-family: 'nexa';
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

li {
	margin-bottom: 3px;
	background-color: rgba(118,117,128,0.05);
	border-radius: 10px;
	font-size: 0;
	font-family: 'nexa', serif;
	font-weight: 400;
}

li img {
	display: inline-block;
	vertical-align: middle;
	width: 50px;
	height: 50px;
	margin-right: 20px;
}

.cirkle {
	border-radius: 50%;
}

li span {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	width: calc(100% - 70px);
}

li a {
	text-decoration: none;
	color: #c2c2c2;
	display: block;
	padding: 10px;
}


li a:hover {
	background-color: rgba(118,117,128,0.1);
	color: #ec5a62;
	border-radius: 10px;
}

