/*обнуление*/
*{
	padding: 0;
	margin: 0;
	transition: all .1s ease-in;
}
*,*:before,*:after{ 
	-moz-box-sizing: border-box;
	-webkit-box-sizing:border-box;
	box-sizing: border-box;
}

@font-face {
    font-family: proxima_nova_condensedBlkIt;
    src: url('../fontrs/proxima_nova_condensed_black_italic-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova_condensed_black_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html,
body{
	font-family: proxima_nova_condensedBlkIt, sans-serif;
	width: 100%;
	height: 100%;
	background-color: #F1F1F1;
	color: #c2c2c2;
	font-size: 14px;
}

.container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 50px;
}

header {
	padding-top: 20px;
}

form {
	position: relative;
	padding-right: 130px;
}

input#search{
	width: 100%;
	border: none;
	font-size: 100px;
	font-weight: bold;
	color: #ec5a62;
	background-color: inherit;
	outline: none;
}

input::placeholder {
	color: #c2c2c2;
}

button {
	position: absolute;
	margin-top: 10px;
	border: none;
	background: inherit;
}

button:hover {
	transform: scale(1.2);
}

.wrapper-list {
	font-size: 0;
}

ul {
	list-style: none;
	padding-left: 0;
	padding-right: 40px;
	width: calc(100% / 3);
	font-weight: bold;
	display: inline-block;
	font-size: 14px;
	vertical-align: top;
	font-size: 0;
}

ul:last-child {
	padding-right: 0;
}

.caption {
	background-color: inherit;
	text-transform: lowercase;
}

h2 {
	font-size: 22px;
	margin-bottom: 20px;
}

li {
	margin-bottom: 3px;
	background-color: rgba(118,117,128,0.05);
	border-radius: 10px;
	font-size: 0;
}

li img {
	display: inline-block;
	vertical-align: middle;
	width: 50px;
	height: 50px;
	margin-right: 20px;
}

.round {
	border-radius: 50%;
}

li span {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	width: calc(100% - 70px);
}

li a {
	text-decoration: none;
	color: #c2c2c2;
	display: block;
	padding: 10px;
}


li a:hover {
	background-color: rgba(118,117,128,0.1);
	color: #ec5a62;
}

